################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/LotteryApp/.vs
/LotteryApp/bin/Debug/net7.0
/LotteryApp/obj
/StoreContractApp/.vs
/StoreContractApp/bin/Debug/net7.0
/StoreContractApp/obj
